@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>All data on this website are acquired from <a href="https://en.cpbl.com.tw/stats/recordall">the official website of CPBL</a>.</p>
</div>
